<h3 class="text-center mt-5 mb-4">Fill the form and update your car!</h3>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4" id="edit-form">
      <%= simple_form_for(car) do |f| %>
          <%= f.input :price %>
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :year %>
          <%= f.input :color %>
          <%= f.input :category %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
