<h3 class="text-center mt-5 mb-4">Fill the form to create your car!</h3>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4" id="create-form">
      <%= simple_form_for(@car) do |f| %>
        <%= f.input :price %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :year %>
        <%= f.input :color %>
        <%= f.input :category %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create Car" %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-start ms-5">
  <%= link_to "Back to my list cars", list_cars_cars_path %>
</div>

<div class="text-start ms-5">
  <%= link_to "Back to all cars", cars_path %>
</div>
