<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @car.photo.key%>);">
    <a class="btn btn-flat" href="#"></a>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card-show">
        <div class="card-show-infos">

          <div class="card-show-header">

            <h2><%= @car.brand.capitalize %> <%= @car.model.capitalize  %></h2>
            <h2 class="card-show-pricing">£<%= @car.price %></h2>
          </div>

          <p>Category: <%= @car.category.capitalize%> | Year: <%=@car.year%> | Color: <%=@car.color.capitalize%> </p>

        </div>

        <%= render 'bookings/form', car: @car, booking: @booking %>

      </div>

      <% if user_signed_in? %>
        <% if current_user == @car.user %>
        <div class="buttons">
          <%= button_to "edit car", edit_car_path(@car), method: :get, id: "edit-btn" %>
          <%= button_to "Delete", car_path(@car), id: "delete-btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
        <% end %>
      <% end %>

    </div>

    <div class="col-6 mt-3">
      <div data-controller="map"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-marker-value="<%= @marker.to_json %>"
            id='map' class="map-display" style='height: 100%;'>
      </div>
    </div>
  </div>

</div>
